@page
@model RegisterModel
@using EkkoSoreeg.Utilities

@{
    ViewData["Title"] = "Register";
}
<style>
    .imagediv {
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .loginimg {
        height: auto;
        max-width: 100%;
        margin: auto;
    }

    .formgh {
        background: #fff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    form h2 {
        margin-bottom: 20px;
    }

    .form-floating {
        position: relative;
        margin-bottom: 15px;
    }

        .form-floating input {
            height: 45px;
            padding: 10px 15px;
            padding-right: 50px;
            width: 100%;
            box-sizing: border-box;
            border-radius:15px;
        }

        .form-floating .input-container {
            position: relative;
            height: 100%;
        }

        .form-floating .toggle-password {
            position: absolute;
            bottom: 50%;
            right: 15px;
            transform: translateY(50%);
            cursor: pointer;
            font-size: 18px;
            color: #6c757d;
        }

        .form-floating .error-message {
            margin-top: 5px;
        }

    .btn-primary {
        background-color: #717FE0;
        border-color: #717FE0;
        transition: background-color 0.3s, border-color 0.3s;
        border-radius: 23px;
        line-height: 1.2;
    }

        .btn-primary:hover {
            background-color: #666666;
            border-color: #666666;
        }

    .form-radio-group {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

        .form-radio-group input[type="radio"] {
            margin-right: 5px;
        }

        .form-radio-group label {
            margin-right: 20px;
            margin-bottom: 0px !important;

        }
</style>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <form class="formgh" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h2 style="text-align:center; font-weight: bold">Sign Up</h2>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger m-2" role="alert"></div>
                    <div class="form-floating">
                        <input asp-for="Input.Name" class="form-control" autocomplete="name" aria-required="true" placeholder="Name" />
                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Input.EmailOrPhone" class="form-control" autocomplete="email" aria-required="true" placeholder="Email Or Phone" />
                        <span asp-validation-for="Input.EmailOrPhone" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <div class="input-container">
                            <input asp-for="Input.Password" id="password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" />
                            <span class="toggle-password" id="toggle-password">
                                <i class="fas fa-eye"></i>
                            </span>
                        </div>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    @if (User.IsInRole(SD.AdminRole))
                    {
                        <div class="form-radio-group">
                            <input type="radio" name="Rolebtn" value="@SD.AdminRole" id="role-admin" />
                            <label for="role-admin">@SD.AdminRole</label>
                            <input type="radio" name="Rolebtn" value="@SD.CustomerRole" id="role-customer" />
                            <label for="role-customer">@SD.CustomerRole</label>
                            <input type="radio" name="Rolebtn" value="@SD.EditorRole" id="role-editor" />
                            <label for="role-editor">@SD.EditorRole</label>
                        </div>
                        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Create New User</button>
                    }
                    else
                    {
                        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Create Account</button>
                        <button type="button" class="w-100 btn-lg" onclick="redirectToLogin()" style="color:#666666">Log In</button>
                    }
                </form>
            </div>
            <div class="col-md-6 d-none d-md-flex align-items-center">
                <div class="imagediv">
                    <img class="loginimg" src="~/Customer/images/usermanage.png" alt="Login Illustration" />
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function redirectToLogin() {
            // Redirect to the Register page
            window.location.href = '@Url.Page("./Login", new { returnUrl = Model.ReturnUrl })';
        }
        document.addEventListener('DOMContentLoaded', (event) => {
            const togglePassword = document.getElementById('toggle-password');
            const passwordField = document.getElementById('password');
            const toggleConfirmPassword = document.getElementById('toggle-confirm-password');
            const confirmPasswordField = document.getElementById('confirm-password');

            togglePassword.addEventListener('click', () => {
                // Toggle the type attribute for the password field
                const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
                passwordField.setAttribute('type', type);

                // Toggle the eye icon
                togglePassword.innerHTML = type === 'password' ? '<i class="fas fa-eye"></i>' : '<i class="fas fa-eye-slash"></i>';
            });
        });
    </script>

}
